<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bem-Vindo</title>
    <link rel="stylesheet" th:href="@{/bemvindo.css}"/>
</head>
<body>
    <form class="card" method="post" th:action="@{/bemvindo}">
        <button type="submit" name="button" value="usuarios">Usuários</button>
        <button type="submit" name="button" value="medicos">Médicos</button>
        <button type="submit" name="button" value="pacientes">Pacientes</button>
        <button th:attr="disabled=${not isAdmin}" type="submit" name="button" value="atendimentos">Atendimentos</button>
    </form>
</body>
</html>